
/* Shared Styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
}

.orange-text{
  color:#FF7A00;
}

.btn{
  background-color: #FD6E0A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding : 18.1px 35px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}


/* Main styles */

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
  gap: calc(11px + 1.5vw);
  list-style: none;
}

.menu li a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

#bannner{
  /* border: 1px solid red; */
  margin: 46px 40px 0 229px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bannner .banner-content{
  max-width: 585px;
}

#bannner .banner-content h2{
  color: #474747;
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: 600;
}



#bannner .banner-content h1{
  font-size: 74px;
  font-weight: 800;
  margin: 0 auto 20px 0;
  color: #181818;

}

#bannner .banner-content p{
  font-size: 018px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
}