
/* Shared Styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;
}

.orange-text{
  color:#FF7A00;
}

.btn{
  background-color: #FD6E0A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding : 18.1px 35px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bolder;
}


/* Main styles */

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
  gap: calc(11px + 1.5vw);
  list-style: none;
}

.menu li a{
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

section h2{
  color: #474747;
  font-size: 45px;
}